{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  {# All scripts that are needed for every page #}
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src={% static "js/jquery.form.min.js" %}></script> {# Ajax forms #}
  {% block section_scripts %}
  {% endblock section_scripts %}

  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

  {% block section_css %}
  {% endblock section_css %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block meta %}
  {% endblock meta %}

  <title>{% block title %}Streetfarer{% endblock title %}</title>
</head>
<body>
  {% block header %}
{# Note that after user logs in, we will want to change the header. How implement? #}
{# After successful Ajax login, manually change? Then each subsequent page will have a user #}
  <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Streetfarer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Running</a></li>
            <li><a href="#">Walking</a></li>
            <li class="Dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Time/Distance <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Saved Path</a></li>
            <li><a href="/login/">Login</a></li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
  </div> {# End of container #}

  {% endblock header %}



  {% block content %}
  <p>Nothing to see here</p>
  {% endblock content %}

    {% block hidden_login %}

  <script>
      $(function() {
        function printLoginStatus(data, textStatus, xhr) {
          console.log(data)
          if (data.status === 'error') {
            $('#login-status').text(data.message)
          } else if (data.status === 'success') {
            $('.login-parcel').toggle()
          }
        }

        $('#login-form').ajaxForm({
          url: '/login/ajax/',
          type: 'POST',
          success: printLoginStatus,
          });

        function printSignupStatus(data, textStatus, xhr) {
          console.log(data)
          if (data.status == 'error') {
            $('#signup-status').text(data.message)
          } else if (data.status === 'success') {
            $('.login-parcel').toggle()
          }
        }

        $('#signup-form').ajaxForm({
          url: '/user/signup/ajax',
          type: 'POST',
          success: printSignupStatus,
          });

        $('.toggle-login').click(function() {
          console.log("in function")
          $('.login-parcel').toggle();
        })
      })

  </script>

  <style>
/*TODO fix styling*/
#login-container {
  position: fixed;
  top: 10vh;
}

#greyscreen {
  position:fixed;
  top: 0vh;
  left: 0vh;
  height:100vh;
  width:100vw;
  opacity: 0.5;
  background-color: gray;
}

  </style>
{# login-parcel: anything that comes with login #}
  <div id="greyscreen" class="login-parcel" hidden></div>

  {# You can log in on any page #}
  {# Toggle hidden to show and hide #}
  {# TODO: form submission using Ajax #}
  <div class="container login-parcel" id="login-container" hidden>
    {# Put positional divs around panel #}
    {# Assumes that context passes in login_form object #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <form action="." role="form" id="login-form">
          {% csrf_token %}
          <p id="login-status"></p>
          <fieldset>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input for="password" type="password" name="password" placeholder="Password"></input>
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
          </fieldset>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signup</h3>
      </div>
      <div class="panel-body">
        <form action="." role="form" id="signup-form">
          {% csrf_token %}
          <p id="signup-status"></p>
          <fieldset>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input for="password" type="password" name="password" placeholder="Password"></input>
            </div>
            <div class="form-group">
              <label for="password">Password (again):</label>
              <input for="password" type="password" name="passwordCheck" placeholder="Password"></input>
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" name="email" placeholder="Email">
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Signup">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <p>The logged-in user is: {{user}}</p>
  {% endblock hidden_login %}

  {% block footer %}
  <div id="footer">Example of footer. TODO</div>
  {% endblock footer %}

</body>
</html>