{% load staticfiles %}

<!DOCTYPE html>
<html>
<head class=" js no-touch" style="-webkit-transition: top 0s ease-out; transition: top 0s ease-out; position: relative; top: 0px;">
  {# All scripts that are needed for every page #}
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
  {# <script src="{% static "js/bootstrap.min.js" %}"></script> #}
  <script src={% static "js/jquery.form.min.js" %}></script> {# Ajax forms #}
  <script src={% static "js/utilities.js" %}></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  {% block section_scripts %}
  {% endblock section_scripts %}

  {# <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"> #}
  <link href="{% static "css/streetfarer.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  {% block section_css %}
  {% endblock section_css %}

  <meta charset="utf-8">
  {# <meta http-equiv="X-UA-Compatible" content="IE=edge"> #}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block meta %}
  {% endblock meta %}

  <title>{% block title %}Streetfarer{% endblock title %}</title>
</head>
<body id="dummybodyid">
  {% block header %}
<!--navigation bar-->
  <div id="header_nevigation">

    <div class="container_nevigation">
    <div id="logo_btn">
        <img id="logo" src="{% static "icons/streetfarer-logo.png" %}">
    </div>

    <div id="login_register" class="header-float-right toggle-login">
      <a class="label">Login</a>
    </div>

    <div id="saved_path" class="header-float-right">
      <a href="/user/paths/" class="label">Saved paths</a>
    </div>

    <div id="make_path" class="header-float-right">
      <a href="/map/search" class="label">Make path</a>
    </div>

    </div>
  </div>

  {% endblock header %}

  {% block content %}
  <p>Nothing to see here</p>
  {% endblock content %}

    {% block hidden_login %}
  <script>
      $(function() {
        function printLoginStatus(data, textStatus, xhr) {
          console.log(data)
          if (data.status === 'error') {
            $('#login-status').text(data.message)
          } else if (data.status === 'success') {
            $('.login-parcel').toggle()
          }
        }

        $('#login-form').ajaxForm({
          url: '/login/ajax/',
          type: 'POST',
          success: printLoginStatus,
          });

        function printSignupStatus(data, textStatus, xhr) {
          console.log(data)
          if (data.status == 'error') {
            $('#signup-status').text(data.message)
          } else if (data.status === 'success') {
            $('.login-parcel').toggle()
          }
        }

        $('#signup-form').ajaxForm({
          url: '/user/signup/ajax',
          type: 'POST',
          success: printSignupStatus,
          });

        $('.toggle-login').click(function() {
          console.log("in function")
          $('.login-parcel').toggle();
        })
      })
  </script>

  <style>
/*TODO fix styling*/
#login-container {
  position: fixed;
  top: 10vh;
}

#greyscreen {
  position:fixed;
  top: 0vh;
  left: 0vh;
  height:100vh;
  width:100vw;
  opacity: 0.5;
  background-color: gray;
}

  </style>
{# login-parcel: anything that comes with login #}
  <div id="greyscreen" class="login-parcel"></div>

  {# You can log in on any page #}
  {# Toggle hidden to show and hide #}
  {# TODO: form submission using Ajax #}
  <div class="container login-parcel" id="login-container">
    {# Put positional divs around panel #}
    {# Assumes that context passes in login_form object #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <form action="." role="form" id="login-form">
          {% csrf_token %}
          <p id="login-status"></p>
          <fieldset>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input for="password" type="password" name="password" placeholder="Password"></input>
            </div>
            <input class="rounded-button" type="submit" value="Login">
          </fieldset>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signup</h3>
      </div>
      <div class="panel-body">
        <form action="." role="form" id="signup-form">
          {% csrf_token %}
          <p id="signup-status"></p>
          <fieldset>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input for="password" type="password" name="password" placeholder="Password"></input>
            </div>
            <div class="form-group">
              <label for="password">Password (again):</label>
              <input for="password" type="password" name="passwordCheck" placeholder="Password"></input>
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" name="email" placeholder="Email">
            </div>
            <input class="rounded-button" type="submit" value="Signup">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
 {#  <p>The logged-in user is: {{user}}</p> #}
  {% endblock hidden_login %}

  {% block footer %}
  {% endblock footer %}

</body>
</html>