<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
  <script>
    $(function() {
      var source = $('#entry-template').html();
      var template = Handlebars.compile(source);
      var context = {element1: 'foo', element2: 'bar'};
      var html = template(context);
      console.log(html);
      $('#list').append(html);
    });
  </script>
</head>
<body>
  <h1>{{title}}</h1>
  <ul id='list'></ul>
</body>
  <script id="entry-template" type="text/x-handlebars-template">
  {% verbatim %}

      <li>{{element1}}</li>
      <li>{{element2}}</li>

  {% endverbatim %}
  </script>
</html>