{% extends "base.html" %}
{% load staticfiles %}

{% block section_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src={% static "js/home_tutorial.js" %}></script>
<script src={% static "js/menu.js" %}></script>
<script src={% static "js/mapload.js" %}></script>
{% endblock section_scripts %}

{% block section_css %}
  <style>
#map-canvas {
  height: 60vh; /*Use vh instead of % so we can use this in container*/
  /*width: 830px;*/
  margin: 0px;
  padding: 0px
}
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}
</style>
{% endblock section_css %}

{% block content %}

  {% block distance_indicator %}
<div id="map-creation-bar" class="header">
  <div id="header_top">
    <div class="container">
      <!-- vertical line <div class="divider"></div> -->
      <div id="select_btn">
        <div id="shape">
          <img id="walk_icon" src="{% static "icons/walk_icon.png" %}">
          <div id="slider">
            <div id="toggle_dot"></div>
          </div>
          <img id="run_icon" src="{% static "icons/run_icon.png" %}">
        </div>

        <div id="select_tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          Run or walk?
        </div>
      </div>

      <input type="checkbox" id="walking_check" checked=true hidden></input>

      {# <div class="divider"></div> #}
      <div id="select_btn">
        <div id="distance_slider"> {# Fix overflow width #}
          <input id="distance_slider_value" type="range" min="30" max="120" value="60" step="15"/>
          <div class="label_1">MIN</div>
          <span for=fader id="minute">60</span>
        </div>
        <div id="distance-slider-tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          How long?
        </div>
      </div>

        </div>

      {# <div class="divider"></div> #}


      <!---refresh button & save button-->
      <button id="refresh-btn" class="label rounded-button topbar-button">NEW PATH</button>
      <div id="path-name-div" class="float-left">
        <input id="path-name-input" type="text" placeholder="Name of path">
        <div id="error-message"></div>
      </div>

      <button id="save_btn" class="label rounded-button topbar-button">SAVE</button>

      <div id="refresh-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Get a new path!
        </div>
      </div>
      <div id="save-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Save your path.
        </div>
      </div>
    </div>
  </div>
</div>
    <!--header-->
  {% endblock distance_indicator %}

  {% block carousel_tutorial %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  {# Note: can trigger carousel to move if you use active class #}
    <div class="item active" id="intro-container">
      <img src="{% static "icons/walk_icon.png" %}" width="500px" height="60vh" alt="First slide">
      <div class="carousel-caption">
        <p class="large-text">Walk the city</p>
        <p class="large-text">Run the city</p>
        <p class="large-text">Find new places with Streetfarer</p>
        <button class="btn">Explore</button>
      </div>
    </div>
    <div class="item" id="preset-tag-container">
      <img src="{% static "icons/run_icon.png" %}"  width="500px" height="60vh" alt="Second slide">
      <div class="carousel-caption">
        <p class="large-text">What describes you?</p>
        <div>
          <div>
            <button class="btn-lg" style="float: left">Hipster</button>
            <button class="btn-lg" style="float: left">Stylish</button>
            <button class="btn-lg" style="float: left">Boring</button>
          </div>
          <div>
            <button class="btn-lg" style="float: left">Hipster</button>
            <button class="btn-lg" style="float: left">Stylish</button>
            <button class="btn-lg" style="float: left">Boring</button>
          </div>
        </div>
      </div>
    </div>
    <div class="item" id="search-container">

      <div class="carousel-caption">
        <p class="large-text">Where do you want to start?</p>
      </div>
    </div>
    <div class="item" id="map-container">
      <div id="map-canvas"></div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

  {% endblock carousel_tutorial %}

{% endblock content %}