{% extends "base_map.html" %}
{% load staticfiles %}

{% block page_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src={% static "js/home_tutorial.js" %}></script>
<script src={% static "js/menu.js" %}></script>
<script src={% static "js/mapload.js" %}></script>
{% endblock page_scripts %}

{% block page_css %}
{% endblock page_css %}

{% block distance_indicator %}
{# Hack to keep this hidden #}
<input type="checkbox" id="walking_check" checked=true hidden></input>
<div id="map-creation-bar" class="header" style="display: none;">
  <div id="header_top">
    <div class="container">
      <!-- vertical line <div class="divider"></div> -->
      <div id="select_btn">
        <div id="shape">
          <img id="walk_icon" src="{% static "icons/walk_icon.png" %}">
          <div id="slider">
            <div id="toggle_dot"></div>
          </div>
          <img id="run_icon" src="{% static "icons/run_icon.png" %}">
        </div>

        <div id="select_tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          Run or walk?
        </div>
      </div>

      {# <div class="divider"></div> #}
      <div id="select_btn">
        <div id="distance_slider"> {# Fix overflow width #}
          <input id="distance_slider_value" type="range" min="30" max="120" value="60" step="15"/>
          <div class="label_1">MIN</div>
          <span for=fader id="minute">60</span>
        </div>
        <div id="distance-slider-tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          How long?
        </div>
      </div>

        </div>

      {# <div class="divider"></div> #}


      <!---refresh button & save button-->
      <button id="refresh-btn" class="label rounded-button topbar-button">NEW PATH</button>
      <div id="path-name-div" class="float-left">
        <input id="path-name-input" type="text" placeholder="Name of path">
        <div id="error-message"></div>
      </div>

      <button id="save_btn" class="label rounded-button topbar-button">SAVE</button>

      <div id="refresh-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Get a new path!
        </div>
      </div>
      <div id="save-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Save your path.
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock distance_indicator %}

  {% block map %}
    <div id="tutorial-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#tutorial-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#tutorial-carousel" data-slide-to="1"></li>
    <li data-target="#tutorial-carousel" data-slide-to="2"></li>
    <li data-target="#tutorial-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  {# Note: can trigger carousel to move if you use active class #}
    <div class="item active" id="intro-container">
      <img src="{% static "images/feet_walking_yeowatzup_185-1.png" %}" alt="First slide">
      <div class="carousel-caption">
        <p class="large-text">Explore your city with Streetfarer</p>
        <button class="btn">Explore</button>
      </div>
    </div>
    <div class="item" id="preset-tag-container">
      <img src="{% static "images/dublin_night_blur_yeowatzup_185-1.png" %}" alt="Second slide">
      <div class="carousel-caption">
        <p class="large-text">What describes you?</p>
        <div id="preset-tag-container">
          <div class="row">
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="natureLover">Nature-lover</button>
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="stylish">Stylish</button>
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="morbid">Morbid</button>
          </div>
          {# There's some weirdness when the page is too big, above ~900px #}
          <div class="row">
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="hipster">Hipster</button>
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="partyAnimal">Party-animal</button>
            <button class="col-md-4 preset-tag radio-toggle" style="float: left" value="boring">Boring</button>
          </div>
        </div>
      </div>
    </div>
    <div class="item" id="search-container">
      <img id="placeholder" src="{% static "images/dublin_backlit_yeowatzup_185-1.png" %}" >
      <div class="carousel-caption">
        <p class="large-text">Where do you want to start?</p>
        <input id="pac-input" class="controls" type="text" placeholder="Type in address to start jogging!">
      </div>
    </div>
    <div class="item" id="map-container">
      <div id="map-canvas"></div>
      <div class="carousel-caption">
      </div>
    </div>
    {# TODO: add saved tag slide #}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#tutorial-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#tutorial-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

  {% endblock map %}

  {% block undermap_content %}
{# Add a whole bunch of buttons #}
  <div class="container button-container place-tag-container" style="display: none;">

    {% for tag in tag_list %}
    {# Note that if button is active, it will have an "active" class #}
      <button class="place-tag rounded-button float-left label check-toggle" id="{{tag}}" value="{{tag}}" type="button">{{tag}}</button>
    {% endfor %}
  </div>
{% endblock undermap_content %}