{% extends "base_map.html" %}
{% load staticfiles %}

{% block title %}
Streetfinder Map Search
{% endblock title %}

{% block meta %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% csrf_token %}
{% endblock meta %}

{% block page_css %}
{% endblock page_css %}

{% block page_scripts %}
<script src={% static "js/menu.js" %}></script>
<script type="text/javascript">
$(function() {
  $('input[type="range"]').on('change', function(e) {
    var _val = $(this).val();
    $(this).next('span').text(_val);
  });
})
</script>
{% endblock page_scripts %}

  {% block distance_indicator %}



<div id="header">
  <div id="header_top">
    <div class="container">
      <!-- vertical line <div class="divider"></div> -->
      <div id="select_btn">
        <div id="shape">
          <img id="walk_icon" src="{% static "icons/walk_icon.png" %}">
          <div id="slider">
            <div id="toggle_dot"></div>
          </div>
          <img id="run_icon" src="{% static "icons/run_icon.png" %}">
        </div>
        <div id="select_tooltip" style="display: block;">
          <div class="arrowup" id="select_tooltip_arrow"></div>
          Would you like to <br> run or walk?
        </div>
      </div>
      <input type="checkbox" id="walking_check" checked=true hidden></input>

      <div class="divider"></div>
      <div id="select_btn">
        <div id="distance_slider"> {# Fix overflow width #}
          <input id="distance_slider_value" type="range" min="30" max="90" value="60"/>
          <span for=fader id="minute">60</span>
          <div class="label_1">TIME/MIN</div>
          </div>
      </div>
      <div class="divider"></div>

      <!---refresh button & save button-->

      <div id="save_refresh_btn">
        <button id="refresh_btn" class="label rounded-button">REFRESH</button>
      </div>
      <div id="save_refresh_btn">
        <button id="save_btn" class="label rounded-button">SAVE</button>
      </div>
    </div>
  </div>
</div>
    <!--header-->
  {% endblock distance_indicator %}

{% block undermap_content %}
{# Add a whole bunch of buttons #}
  <div class="container tag-container">
    {% for tag in tag_list %}
    {# Note that if button is active, it will have an "active" class #}
      <button class="place-tag rounded-button float-left label check-toggle" id="{{tag}}" value="{{tag}}" type="button">{{tag}}</button>
    {% endfor %}
  </div>
{% endblock undermap_content %}
