{% extends "base_map.html" %}
{% load staticfiles %}

{% block title %}
Streetfinder Map Search
{% endblock title %}

{% block meta %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% csrf_token %}
{% endblock meta %}

{% block page_css %}
{% endblock page_css %}

{% block page_scripts %}
<script src={% static "js/menu.js" %}></script>
<script type="text/javascript">
$(function() {
  $('#distance_slider_value').on('change', function(e) {
    var _val = $(this).val();
    $("#minute").text(_val);
  })
})
</script>
{% endblock page_scripts %}

  {% block distance_indicator %}

{#  #}

<div id="header">
  <div id="header_top">
    <div class="container">
      <!-- vertical line <div class="divider"></div> -->
      <div id="select_btn">
        <div id="shape">
          <img id="walk_icon" src="{% static "icons/walk_icon.png" %}">
          <div id="slider">
            <div id="toggle_dot"></div>
          </div>
          <img id="run_icon" src="{% static "icons/run_icon.png" %}">
        </div>

        <div id="select_tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          Run or walk?
        </div>
      </div>

      <input type="checkbox" id="walking_check" checked=true hidden></input>

      {# <div class="divider"></div> #}
      <div id="select_btn">
        <div id="distance_slider"> {# Fix overflow width #}
          <input id="distance_slider_value" type="range" min="30" max="120" value="60" step="15"/>
          <div class="label_1">MIN</div>
          <span for=fader id="minute">60</span>
        </div>
        <div id="distance-slider-tooltip" class="tooltip" style="display: block;">
          <div class="arrowup tooltip-arrow"></div>
          How long?
        </div>
      </div>

        </div>

      {# <div class="divider"></div> #}


      <!---refresh button & save button-->
      <button id="refresh-btn" class="label rounded-button topbar-button">NEW PATH</button>
      <div id="path-name-div" class="float-left">
        <input id="path-name-input" type="text" placeholder="Name of path">
        <div id="error-message"></div>
      </div>

      <button id="save_btn" class="label rounded-button topbar-button">SAVE</button>

      <div id="refresh-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Get a new path!
        </div>
      </div>
      <div id="save-tooltip" class="tooltip">
        <div class="arrowup tooltip-arrow"></div>
        Save your path.
        </div>
      </div>
    </div>
  </div>
</div>
    <!--header-->
  {% endblock distance_indicator %}

{% block undermap_content %}
{# Add a whole bunch of buttons #}
  <div class="container button-container">
    {% for tag in tag_list %}
    {# Note that if button is active, it will have an "active" class #}
      <button class="place-tag rounded-button float-left label check-toggle" id="{{tag}}" value="{{tag}}" type="button">{{tag}}</button>
    {% endfor %}
  </div>
{% endblock undermap_content %}
