<!DOCTYPE html>

<html lang="en" data-ng-app="napkin" class="js flexbox flexboxlegacy canvas no-touch hashchange history rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video svg inlinesvg ng-scope" style=""><!--<![endif]-->

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Streetfarer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="./static/fonts.css">
	<link type="text/css" rel="stylesheet" href="screenless.css"/> <!--changed box sytle-->
	<link type="text/css" rel="stylesheet" href="mddg.css"/>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<link type="text/css" rel="stylesheet" href="stf.css"/>
	<!--<link type="text/css" rel="stylesheet" href="streetfarer.css"/>-->

	<script type="text/javascript" src="./static/beacon.js"></script>
	
	<script type="text/javascript" src="./static/modernizr.custom.js"></script>
	<script type="text/javascript" src="./static/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="./static/jquery.scrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="./static/jquery.autogrow-textarea.js"></script>
	<script type="text/javascript" src="./static/angular-1.0.7.js"></script>
	<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style>
	<script type="text/javascript" src="./static/bootstrap.js"></script>
	<script type="text/javascript" src="./static/bootstrapx-clickover.js"></script>
	<script type="text/javascript" src="./static/waypoints.js"></script>
	<script type="text/javascript" src="./static/onmediaquery.js"></script>
	<script type="text/javascript" src="./static/site.js"></script>
	<script type="text/javascript" src="./static/site-ng.js"></script>
	<!--<script type="text/javascript" src="./static/nav_appear.js"></script>-->
	<script type="text/javascript" src="./static/home_tutorial.js"></script>

	<!--mddg
	<script src="./static/js/streetfarer.js"></script>
	<script src="./static/jquery.js"></script>
	<script src="./static/multifarious.js"></script> -->



  	<!--from map_base.html-->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  	<script src=" {% static "JSON-js-serializer/json2.js" %}"></script>
  	<script src="./static/mapload.js"></script>
  	<script src="./static/jquery.form.min.js"></script>
</head>


<body style="" id="dummybodyid">
	&nbsp;&nbsp;&nbsp;&nbsp;<div id="body" data-ng-controller="NapkinCtrl" data-ng-class="bodyClass()" class="ng-scope show-progress hide-footer">

	<!--navigation bar -->
	<div class="header-container" style="z-index: 2">
		<nav style="position: fixed; top: 0px;" id="nav-maxi" class="top-nav maxi animated fixed outofview fadeOutUpBig" data-magellan-expedition="fixed">
			<div class="row">
				<div class="large-12 columns">

				    
				      <!-- vertical line <div class="divider"></div> -->
				      <div id="select_btn" title="Run or walk?" style="background-image: none;">
				        <div id="shape">
				          <img id="walk_icon" src="walk_icon.png">
				          <div id="slider">
				            <div id="toggle_dot"></div>
				          </div>
				          <img id="run_icon" src="run_icon.png">
				        </div>
				      </div>

				      <input type="checkbox" id="walking_check" checked="true" hidden="">

				      
				      <div id="select_btn">
				        <div id="distance_slider" title="How long?" style="background-image: none;"> 
				          <input id="distance_slider_value" type="range" min="30" max="120" value="60" step="15">
				          <div class="label_1">MIN</div>
				          <span for="fader" id="minute">60</span>
				        </div>
				      </div>
				       
				      <!---refresh button & save button-->

				      <div id="refresh-div">
				        <button id="refresh-btn" title="Get a new path!" class="label rounded-button topbar-button">NEW PATH</button>
				      </div>
				      <div id="path-name-div" class="float-left">
				        <input id="path-name-input" type="text" placeholder="Name of path">
				        <div id="error-message"></div>
				      </div>

				      <button id="save_btn" class="label rounded-button topbar-button">SAVE</button>

				</div>
			</div>
		</nav>
	</div><!--end of mddg-->


 	<!--landing page, background photo-->
	<div id="frontpage_background"><div>
	<article id="start" style="width: 1299px; min-height: 719px;">
		<section class="content content-with-footer" style="padding-top: 104.5px;">
			<h1>Streetfarer</h1>
			<h3 class="medium">Streetfarer helps you asdf asdf asdf asdf  &nbsp; <em>random</em> &nbsp; asdf asdf asf .</h3>
			<p class="buttons"><a href="#" data-ng-click="setSection(&#39;who&#39;, true)" title="Who??" class="button button-next"><span>Let's Go!</span></a></p>
		</section>
	</article>
	&nbsp;


	<!--section one "who"?-->
	<article id="who" style="width: 1299px; min-height: 719px;">
		<div id="who_background"><div>
		<section class="content content-with-progress" style="padding-top: 83px;">
			<h2>What describes you?</h2>
			<ul class="options options-small wide option-selected" data-ng-class="model.selectedBreakup &amp;&amp; &#39;option-selected&#39; || &#39;&#39;">
				<!-- ngRepeat: breakup in breakupStrategies -->
				<li>
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Hipster
					</label>
				</li>
				<li>
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Nature lover
					</label>
				</li>
				<li >
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Pub crawler
					</label>
				</li>
				<li >
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Morbid
					</label>
				</li>
				<li >
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Stylish
					</label>
				</li>
				<li >
					<label data-ng-click="selectBreakup(breakup)" class="ng-binding"><i></i>
						Oh..I'm boring
					</label>
				</li>
			</ul>
			<p class="buttons"><a href="#" data-ng-click="setSection(&#39;what&#39;, true)" data-original-title="" title="" class="button tip button-next"><span>Next</span></a></p>

	
		</section>
	</article>
	&nbsp;

	<!--section one "what's your location"?-->
	<article id="what" style="width: 1299px; min-height: 719px;">
		<div id="what_background" "><div>
		<section class="content content-with-progress" style="padding-top: 162px;">
			<h2>Where are you located?</h2>
			<form class="no-submit project-description wide ng-valid ng-dirty">
				<textarea data-ng-model="model.projectDescription" data-ng-class="model.projectDescription == model.defaultProjectDescription &amp;&amp; &#39;autogrow muted&#39; || &#39;autogrow&#39;" data-original-title="" title="" placeholder="type in your address here…" class="ng-valid ng-dirty autogrow" style="height: 60px;"></textarea>
				<label class="instruction">eg. 77 Mass Ave, Cambridge, MA</label>
			</form>
			<p class="buttons"><a href="#" data-ng-click="setSection(&#39;done&#39;, true)" class="button tip button-next"><span>Next</span></a></p>

		</section>
	</article>
	&nbsp;

	<!--done, display google map!-->
	<article id="done" style="width: 1299px; min-height: 719px;">
		<section class="content" style="padding-top: 25.5px;">
			
			<h2 class="progress-message ng-binding">show path!</h2>
				<style>
				  #map-canvas {
				    height: 80vh; /*Use vh instead of % so we can use this in container*/
				    width: 100%;
				    margin: 0px;
				    padding: 0px
				  }
					</style>
				<script>
				      $(function() {
				        function displayPath(data, textStatus, xhr) {
				          console.log(data)
				        }

				        $('#get_path').ajaxForm({
				          url: '/path/',
				          type: 'GET',
				          success: displayPath,
				          });
				      })

				    </script>
				  
				 <div id="map-canvas"></div>    
			
			</section>
		</section>
	</article>

	&nbsp;
	<footer>
		<p class="terms"><a href="www.mit.edu" target="_blank" class="button-small">MIT 6.470</a></p>
		<p class="terms"><a href="www.mit.edu" target="_blank" class="button-small">Team Streetfarer</a></p>	
	</footer>
	
	
		</div>
		
</body></html>